/* :first-child - selectam primul element de acest tip dintr-un container si il stilizam cu proprietatile din blocul de CSS*/

/* .card:first-child {
    background-color: rgb(145, 255, 169);
} */


/* :first-child - selectam ultimul element de acest tip dintr-un container si il stilizam cu proprietatile din blocul de CSS*/
/* .card:last-child {
    background-color: lightcoral;
}
 */

 /* nth-child - selecteaza fie un element specific, fie o serie de elemente (pare sau impare (even, odd), sau) */
 /* .card:nth-child(3n + 1) {
        background-color: rgb(145, 255, 169);
 } */


.card {
    position: relative;

    width: 300px;
    height: 400px;
    background-color: rgb(192, 206, 255);
    border-radius: 12px;

    font-family: 'Roboto', sans-serif;

    padding: 5px 10px 5px 10px;
    box-sizing: border-box;

    /* margin-bottom: 20px; */

    /* flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1; */

    /* flex: 1 1 300px; */
    z-index: 3;

    transition: all 1000ms;
    /*  cubic-bezier(0,1.56,1,-0.84); */

    animation: tricolor;
}


.card:hover {
    background-color: rgb(164, 184, 255);
    /* width: 400px;
    height: 420px; */

    /* Translarea unui element */
    /* transform: translate(50px, 50px); */
                           /* X      Y */

    /* Modifcarea marimii unui element */
    transform: scale(105%);
    /* transform: scale(0.9); */

    /* Rotatia unui element */
    /* transform: rotate(360deg); */


    /* Toate 3 tipuri de transformari pot fi combinate */
    /* transform:  translate(50px, 50px) scale(1.2) rotate(180deg) */

}


.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_contact {
    width: 600px;
    height: 400px;
    border-radius: 12px;
    /* background-color: rgb(192, 206, 255); */
    padding: 15px 25px 15px 25px;
    box-sizing: border-box;
    /* proprietatea animation - folosita pentru a atribui o animatie unui element */
    animation: tricolor 10s;
}

.contact_input {
    width: 80%;
    height: 40px;
    margin: 15px 0 15px 0;
    border: none;
    border-radius: 12px;
    padding-left: 15px;
    box-sizing: border-box;

    transition: all 1s;
}

.contact_input:invalid {
    color: red
}

.contact_input:valid {
    color: green;
}



.checkbox_container {
    width: 100%;
    display: block;
}

/* Animatie */
/* @keyframes - cadre cheie -  regula care creaza o animatie  */
@keyframes tricolor {
    0% {
        background-color: blue;
    }
    50% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}


/* Exemplu de animatie in miscare */
.cerc {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;

    animation: miscare 5s infinite;
}
@keyframes miscare {
    0% {
        transform: translate(0);
        background: green;
    }
    25% {
        transform: translate(0, -300px);
        background-color: aqua;
    }
    50% {
        transform: translate(300px, -300px); 
        background-color: azure;
    }
    75% {
        transform: translate(300px, 0);
        background-color: blanchedalmond;
    }
    100% {
        transform: translate(0);
    }
}




/* COD NOU DOM */
/* change_image_button.style.borderRadius = '12px';
change_image_button.style.padding = " 10px 20px 10px 20px"
change_image_button.style.border = 'none';
change_image_button.style.color = 'white'
change_image_button.style.backgroundColor = 'black'
change_image_button.style.cursor = 'pointer' */

.change_image_button {
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.dark_mode {
    background-color: black;
    color: white;
}

.example_insert {
    width: 400px;
    min-height: 200px;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.img_card_style {
    width: 200px;
}